@import "bootstrap";

header{	
	.navbar-brand{
		img{
			height: 38px;
			width: 93px;
		}
	}
	.navbar-dark{
		.navbar-text{
			a{
				text-decoration:none;
				color: $red;
				&:hover{
					color: $blue;
				}
			}
		}
	}
}

main{
	display:flex;
	flex-direction:column;
	align-items:center;
	text-align: center;
	button{
		.new{
			color: white;
			text-decoration: none;
		}
	}
	table{
		border-color: #212529;
	}
	form{
		margin-top: 8%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.gravatar{
		width:32px;
		height:32px;
		border-radius: 100px; /* Радиус скругления */
}